.titulos {
    font-family: 'Yuji Syuku', serif;
}
.principalUshuaia {
    font-family: 'Yuji Syuku', serif;
}

.titulo_conoce{
    font-family: 'Yuji Syuku', serif;
}

.menu {
    font-family:'Yuji Syuku', serif;
}
